@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300;400&display=swap');

.sign-up-group {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
  margin-top: -60px !important;
}

.title-signup {
  font-size: 30px;
  text-align: center;
  color: #555;
  margin-bottom: 15px;
}

span {
  text-align: center !important;
}

.input-label-signup {
  text-align: left !important;
  color: #555 !important;
}

.or-group-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.login-btn-signup {
  min-width: 100% !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  background-color: rgb(55, 120, 205) !important;
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  position: relative !important;
  padding: 3px 50px !important;
  line-height: 34px !important;
  text-align: center !important;
}

.google-icon-signup {
  background-color: rgb(255, 255, 255);
  padding: 8.7px;
  position: absolute;
  border-radius: 3px;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.admin-link-btn-signup {
  background-color: rgb(237, 237, 237) !important;
  font-size: 15px !important;
}

.sign-up-link-signup {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.link-signup {
  text-decoration: none !important;
  cursor: pointer;
  color: rgb(3, 96, 60);
}

.sign-in-link {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.link {
  text-decoration: none !important;
  color: #555;
}

@media only screen and (max-width: 1273px) {
  .title-signup {
    font-size: 20px;
  }

  .input-label-signup {
    font-size: 10px;
  }

  .or-group-signup {
    font-size: 10px;
  }

  .login-btn-signup {
    font-size: 10px !important;
    padding: 3px 30px !important;
    line-height: 30px !important;
  }

  .google-icon-signup {
    padding: 6px;
  }

  .admin-link-btn-signup {
    font-size: 10px !important;
    padding: 3px 30px !important;
    line-height: 30px !important;
  }
}
