// @import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
// $font: 'Tangerine';
@font-face {
  font-family: "herbarium";
  src: url('../pages/styles/fonts/Herbarium.otf') format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "comic-sans";
  src: url('../pages/styles/fonts/LDFComicSans.otf') format("opentype");
  font-style: normal;
}

$color: #ffebea;
$text: 'comic-sans';

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: white;
  overflow: hidden;

  .leftSide {
    height: 100%;
    width: 100%;
    grid-column: 1;
    display: grid;
    grid-template-rows: 5vh 4vh 3vh 88vh;
    box-shadow: 0px 0px 5px black;

    .topBanner {
      height: 100%;
      width: 100%;
      grid-row: 1;
      display: flex;
      // justify-content: center;
      align-items: center;
      background-color: $color;
  
      .companyName {
        font-family: "herbarium";
        color: white;
        margin: {
          left: 35px;
        };
        // text-shadow: inset 0px 0px 5px black;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
        font-size: 45px;
      }
    }
    .searchBarContainer {
      grid-row: 2;
      background-color: $color;
      display: flex;
      align-items: center;
      // height: 100%;

      #searchBar {
        flex: 1;
        height: 65%;
        // box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
        font-family: $text;
        margin: {
          left: 30px;
          right: 30px;
          // bottom: 15px;
        };
        padding: {
          left: 10px;
          right: 10px;
        };
        background: {
          image: url('https://img.icons8.com/ios/24/000000/search--v1.png');
          repeat: no-repeat;
          position: right 10px center;
          color: white;
        }
        border: {
          radius: 5px;
          style: none;
        }
        outline: none;
      }
    }
    // .filtersContainer {
    //   grid-row: 3;
    //   height: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   background-color: white;
    //   margin: {
    //     left: 25px;
    //     right: 30px;
    //     top: 3px;
    //   };
  
    //   .filter {
    //     height: 80%;
    //     flex: 1;
    //     display: flex;
    //     justify-content: space-evenly;
    //     align-items: center;
    //     background-color: $color;
    //     font-family: $text;
    //     margin: {
    //       left: 5px;
    //     };
    //     border: {
    //       radius: 5px;
    //       color: rgb(192, 192, 192);
    //       style: solid;
    //       width: 1px;
    //     }
    //   }
    // }
    .results {
      grid-row: 4;
      // height: 100%;
      // width: 100%;
      margin: {
        left: 25px;
        right: 25px;
        top: 15px;
      }
      // background-color: white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: scroll;

      .listing {
        width: 250px;
        height: 300px;
        margin: {
          top: 15px;
          // bottom: 10px;
          left: 5px;
          right: 5px;
        };
        border: {
          radius: 5px;
          color: rgb(192, 192, 192);
          width: 1px;
          style: solid;
        };
        background-color: white;
        display: grid;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;

        .listingPhoto {
          height: 100%;
          width: 100%;
          grid-row: 1;
          background: {
            repeat: no-repeat;
            size: cover;
          };
        }

        .listingInfo {
          grid-row: 2;
          height: 100%;
          display: flex;
          flex-direction: column;
          font-family: $text;

          .price {
            margin: {
              top: 10px;
              left: 10px;
              right: 10px;
              bottom: 10px;
            };
            font: {
              size: 25px;
              weight: bold;
            }
          }

          .details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: {
              left: 10px;
              right: 10px;
            };

            .bedrooms, .bathrooms, .size {

              font-size: 18px;
              padding: {
                top: 5px;
                left: 20px;
              };
              background: {
                size: 16px 24px;
                repeat: no-repeat;
              }
            }
            .bedrooms {
              background-image: url('https://img.icons8.com/ios-filled/50/000000/empty-bed.png');
            }
            .bathrooms {
              background-image: url('https://img.icons8.com/ios-filled/24/000000/shower-and-tub.png');
            }
            .size {
              background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler.png');
            }

          }

          .address {
            margin: {
              left: 10px;
              top: 10px;
            };
            font: {
              size: 18px;
            }
          }
        }
      }

      .listing:hover {
        box-shadow: 0px 0px 10px #d8a7a3;
      }
    }
  }

  .rightSide {
    grid-column: 2;
    height: 100%;
    width: 100%;
    margin: {
      left: 5px;
    }
    #map {
      // border-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }
    
    // .bottomRight {
    //   grid-column: 2;
    //   height: 100%;
    //   width: 100%;
    //   padding: {
    //     top: 5px;
    //     bottom: 5px;
    //     right: 5px;
    //     left: 5px;
    //   };
    //   box-shadow: inset 0px 0px 5px black;
  
      // .mapContainer {
      //   grid-column: 2;
      //   overflow: hidden;
      //   background-color: white;
      //   padding: {
      //     top: 10px;
      //     right: 10px;
      //     bottom: 10px;
      //     left: 10px;
      //   };
  
      //   #map {
      //     border-radius: 8px;
      //     height: 100%;
      //     width: 100%;
      //   }
      // }
}