html, body {
  height: 100vh;
}

body {
  width: 100vw;
  margin: 0px;
  /* padding: 0px; */
  background: url('./images/home-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
