@font-face {
  font-family: "quentinregular";
  src: url("../../pages/styles/fonts/Quentin.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "herbariumregular";
  src: url("../../pages/styles/fonts/Herbarium.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "barcelonyregular";
  src: url("../../pages/styles/fonts/Barcelony.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "comic-sans";
  src: url("../../pages/styles/fonts/LDFComicSans.otf") format("opentype");
  font-style: normal;
}