$text: helvetica;

.results {
  grid-row: 2;
  // height: 100%;
  // width: 100%;
  margin: {
    left: 25px;
    right: 25px;
    top: 15px;
  }
  // background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: flex-start;
  overflow: scroll;

  .listing {
    width: 245px;
    height: 300px;
    margin: {
      top: 15px;
      // bottom: 10px;
      left: 5px;
      right: 5px;
    };
    border: {
      radius: 5px;
      color: rgb(192, 192, 192);
      width: 1px;
      style: solid;
    };
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;

    .listingPhoto {
      height: 100%;
      width: 100%;
      grid-row: 1;
      background: {
        repeat: no-repeat;
        size: 100% 100%;
      };
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border-radius: 5px;

      .arrows {
        background-color: white;
        border-radius: 50%;
        opacity: 0;
      }
    }

    .listingInfo {
      grid-row: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-family: $text;

      .price {
        margin: {
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
        };
        font: {
          size: 25px;
          weight: bold;
        }
      }

      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: {
          left: 10px;
          right: 10px;
        };

        .bedrooms, .bathrooms, .size {

          font-size: 18px;
          padding: {
            top: 5px;
            left: 20px;
          };
          background: {
            size: 16px 24px;
            repeat: no-repeat;
          }
        }
        .bedrooms {
          background-image: url('https://img.icons8.com/ios-filled/50/000000/empty-bed.png');
        }
        .bathrooms {
          background-image: url('https://img.icons8.com/ios-filled/24/000000/shower-and-tub.png');
        }
        .size {
          background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler.png');
        }

      }

      .address {
        margin: {
          left: 10px;
          top: 10px;
        };
        font: {
          size: 18px;
        }
      }
    }
  }

  .listing:hover {
    box-shadow: 0px 0px 10px #d8a7a3;
    .listingPhoto{
      .arrows {
        opacity: .3;
      }
      .arrows:hover {
        opacity: .6;
        cursor: pointer;
      }
    }
  }
}