$text: helvetica;
$light-pink: rgb(254, 218, 218);
$mid-pink: rgb(239, 174, 170);
$dark-pink: rgb(191, 99, 104);

.results {
  grid-row: 2;
  // height: 100%;
  // width: 100%;
  margin: {
    left: 25px;
    right: 25px;
    top: 15px;
  }
  // background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: flex-start;
  overflow: scroll;

  .listing {
    width: 245px;
    height: 275px;
    margin: {
      top: 15px;
      // bottom: 10px;
      left: 5px;
      right: 5px;
    };
    padding: {
      right: 4px;
      left: 4px;
      // bottom: 4px;
      top: 4px;
    };
    border: {
      radius: 5px;
      // color: rgb(192, 192, 192);
      // width: 1px;
      // style: solid;
    };
    // background-color: rgba(254, 218, 218, .2);
    display: grid;
    grid-template-rows: 55% 45%;
    overflow: hidden;
    cursor: pointer;

    .listingPhoto {
      height: 100%;
      width: 100%;
      grid-row: 1;
      background: {
        repeat: no-repeat;
        size: 100% 100%;
      };
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px 5px 0 0;

      .arrows {
        background-color: white;
        border-radius: 50%;
        opacity: 0;
      }
    }

    .listingInfo {
      grid-row: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-family: $text;
      background-color: lightgray;
      border-radius: 0 0 5px 5px;
      padding-left: 10px;
      width: 96%;
      border: 1px solid lightgray;
      // border-right: none;

      .price {
        margin: {
          top: 10px;
          // left: 10px;
          right: 10px;
          bottom: 3px;
        };
        font: {
          size: 1.35em;
          weight: bold;
        }
      }

      .details {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        margin: {
          // left: 10px;
          right: 10px;
        };

        .bedrooms, .bathrooms, .size {

          font-size: 1em;
          margin: {
            right: 10px;
          };
          padding: {
            top: 3px;
            left: 15px;
          };
          background: {
            size: 13px 20px;
            repeat: no-repeat;
          }
        }
        .bedrooms {
          background-image: url('https://img.icons8.com/ios-filled/50/000000/empty-bed.png');
        }
        .bathrooms {
          background-image: url('https://img.icons8.com/ios-filled/24/000000/shower-and-tub.png');
        }
        .size {
          background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler.png');
        }

      }

      .address {
        margin: {
          // left: 10px;
          top: 5px;
        };
        font: {
          size: 1em;
        }
      }
    }
  }

  .listing:hover {
    // box-shadow: 0px 0px 10px #d8a7a3;
    .listingPhoto{
      .arrows {
        opacity: .3;
      }
      .arrows:hover {
        opacity: .6;
        cursor: pointer;
      }
    }
  }
}