@import '../HomePage/styles/colors';


.pink {
    color: pink;
  }
  
  .desContainer {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-right: 0px auto;
    justify-content: center;
    display: flex;
    top: 0px;
    right: 0px;
    background-color: white;
  }
  
  .criteria {
    position: absolute;

    height: 100px;
    width: 100px;
    margin: 20px;
  }

  .criteria:hover {
      border: 2px solid rgb(255, 0, 234);
      border-radius: 55px;
  }
  
  .desMain {
    margin: auto;
    width: 1000px;
    height: 520px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
  }
  
  .desDetail {
    background-color: white;
    order: 0;
    flex: 2 1 auto;
    align-self: auto;
  }
  
  .desAct {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    right: 0px;
  }
  
  .contactAgent1 {
    position: relative;
    color: $dark-pink;
    font-size: 30px;
    border-radius: 30px;
    left: 770px;
    top: -40px;
    // order: 0;
    // flex: 0 1 auto;
    // align-self: auto;
    background-color: $light-pink;
  }

  .contactAgent {
    position: relative;
    color: $dark-pink;
    height: 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 30px;
    // order: 0;
    // flex: 0 1 auto;
    // align-self: auto;
    background-color: $light-pink;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
  }

  .contactAgent:hover {
    cursor: pointer;
  }
  
  .subApp {
    color: pink;
    font-size: 45px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-top: 20px;
    width: 120%;
  }
  
  .desDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  
  .desAddress {
    width: 800px;
    font-size: 35px;
    color: $dark-pink;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin-bottom: 20px;
  }
  
  .desAptDet {
    font-size: 25px;
    width: 800px;
    color: $dark-pink;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    bottom: 25px;
    left: 0px;
    height: 10px;
  }
  
  .desEle1 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
  
  .desEle2 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
  
  .desEle3 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
  .desHeader {
    width: 1000px;
    height: 150px;
    position: relative;
  }
  
  .desDes {
    position:relative;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    color: black;
    order: 0;
    flex: 3 1 auto;
    align-self: auto;
    font-size: 18px;
    border: 2px solid $mid-pink;
    width: 650px;
    height: 300px;
  }
  
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 20px;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
  }

  .modal-content2 {
    border-radius: 20px;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .modal-content3 {
    border-radius: 20px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .restaurantList {
    overflow: scroll;
  }
  
  .modalImage {
    height: 100px
  }
  
  .singleSchool {
    background-color: $light-pink;
    margin-bottom: 15px;
    border: 2px solid pink;
    border-radius: 20px;
    color: $dark-pink;
    padding-left: 20px;
    width: 80%;
    text-align: center;
  }

  .placeName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $dark-pink;
  }

  .neighborhoodName {
      font-family: Arial, Helvetica, sans-serif;
      color: $dark-pink;
  }

  .neighborhoodDes {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
  }

  #crimeometer-container {
      color: $dark-pink;
  }

  #crime-map {
    border: 4px solid;
    border-color: $light-pink;
    border-radius: 4px;
  }

  .desButtons {
    position: relative;
    right: 0px;
    width: 100px;
  }
  .desTail {
    position: relative;
    width: 1000px;
    height: 500px;
  }
