 

.col-1-3{width:40%;}
.col-2-3{width:100%;}
img{max-width:100%;}

.navheader_home {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
}
.navheader {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top: 2px solid rgb(239,174,170);
}
.navheader_bottom {
  position: relative;
  top: 45px;
  left: 0px;
  width: 100%;
  border-top: 0px solid rgb(239,174,170);
}

body{
   font-family: 'Roboto', sans-serif;
}
.wrap{
 width:80%;
 text-align: right;
 margin:0 auto;
  transition:all .2s linear;
 -ms-transition:all .2s linear;
}
.header_top{
 padding:10px 0;
 position: absolute;
 height: 15%;
 z-index: 1;
 width: 100%;
}
.header_top_home{
  padding:15px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
 }

 .logo{
  position: relative;
  display: inline-block;
  font-size: 2em;
    
}
 .menu{
  float:right;
  margin:1px 0;
}
 .menu li{
 display:inline-block;
 
}
 .menu li a{
  display: inline;
  font-size:1em;
  font-weight:400;
  margin:5px 15px;
  color:rgb(0, 0, 0);
   transition: all 0.5s ease;
}
.menu li a:hover {
  color:rgb(191,99,104);
} 

.menu li a:active {
	background:linear-gradient(to bottom, rgb(191,99,104)5%,rgb(191,99,104) 100%);
	background-color:rgb(191,99,104);
}

#loginButton {
  font-size:1em;
  font-weight:500;
  margin:5px 15px;
  box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 1px rgb(203,117,120);
  background:  rgb(239,174,170);
  
   border: 1px solid  rgb(239,174,170);
   font-weight:normal;
   color: #FFF;
   border-radius:1px;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   -o-border-radius:1px;
}

#loginButton:active {
	background:linear-gradient(to bottom, rgb(191,99,104)5%,rgb(191,99,104) 100%);
	background-color:rgb(191,99,104);
}
 
.navigation-search-bar {
  display: block;
  text-align: left;
}

#loginButton {
   position:relative;
}
#loginContainer a span{
 display:block;
 padding:4px 25px;
}

#loginButton { 
   display:inline-block;  
   position:relative;
   z-index:2;
   cursor:pointer;
}
 
.search-form{
  position:absolute;
  left: 20px;
  padding-top: 25px;
  font-size:1em;
  display:inline;

}
.search-form ul li{ 
  list-style-type:none;
  margin-left: 1px;
  float: left;
}
 
.searchButton {
  font-size:1em;
  box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 1px rgb(203,117,120);
  background: rgb(239,174,170);
  width: 70px;
   margin-left: 5px;
   border: 1px solid rgb(239,174,170);
   font-weight:normal;
   color: rgb(0, 0, 0);
   border-radius:1px;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   -o-border-radius:1px;
}
.searchButton:hover {
  color:rgb(191,99,104);
}
.searchButton:active {
	background:linear-gradient(to bottom, rgb(191,99,104)5%,rgb(191,99,104) 100%);
	background-color:rgb(191,99,104);
}
input.search-input{
	position:relative;
  top:1px;
  height: 15px;
  width: 250px;
}

.about-us-container {
  z-index:0;
  display:block;
  position: relative;
  left: 20px;
  width: 1000px;
  transition:all .2s linear;
}

.neighborhood {
  color:pink;
}

.about-us-container{
  position: relative;
  display:block;
  background-color: rgb(255, 255, 255,0.7);
  width: 1300px;
  
  margin:10px;
 height: 600px;
 grid-row: 1;
 display: grid;
 grid-template-columns: 50% 50%;
}

.aboutus-text-container{
  width: 1200px;
  margin:10px;
  padding: 20px;
  text-align: left;

}


 
input {
  width: 200px;
}
.agentButton {
  font-size: 16px;
  border: none;
  background: transparent;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}


.agentButton:hover, .agentButton:focus {
  text-shadow: 2px 2px 5px rgb(228, 8, 162);
}

/* The container <div> - needed to position the dropdown content */
.agentDrop {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.agentContent {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.agentContent p {
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.agentContent a:hover {text-shadow: 2px 2px 5px rgb(228, 8, 162);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

 
