@font-face {
    font-family: "herbarium";
    src: url('../pages/styles/fonts/Herbarium.otf') format("opentype");
    font-style: normal;
  }

  $color: rgb(245, 31, 156);

        .aptForm {
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .listingForm {
            font-family: Arial, Helvetica, sans-serif;
        }
.submitButton{
    font-family: Helvetica, Arial, sans-serif;
    background-color: deeppink;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#finalSubmit{
    color: white;
    margin-top: 1%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: $color;
    font-size: 22px;
    margin-bottom: 3%;
    border-radius: 10px;
    padding:10px;
}

.yesButton {
    background-color: green;
    font-family: "herbarium";
}

.noButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
textarea {
    width:25%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.upload-listing-textbox {
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px
}


.upload-listing-numberbox {
    width:5%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.listingForm > div {
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px

}

.pets-container > input {
    width: 20px;
}

.main {
    background-color: white;
}