// @use '../styles.scss';
@font-face {
  font-family: "comic-sans";
  src: url('../../pages/styles/fonts/LDFComicSans.otf') format("opentype");
  font-style: normal;
}

$color: #ffebea;
$text: 'comic-sans';

.allFiltersContainer {
  grid-row: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: {
    left: 25px;
    right: 30px;
    top: 10px;
  };
  .singleFilterContainer {
    position: relative;
    display: inline-block;
    height: 80%;
    width: 100%;

    .filter {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // background-color: $color;
      font-family: $text;
      cursor: pointer;
      margin: {
        left: 5px;
      };
      padding: {
        left: 10px;
        right: 10px;
      };
      border: {
        radius: 5px;
        color: rgb(192, 192, 192);
        style: solid;
        width: 1px;
      }
    }
    .filter:hover {
      background-color: $color;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      background-color: $color;
      border: {
        style: solid;
        width: 1px;
        color: rgb(192, 192, 192);
        bottom-right-radius: 5px;
        bottom-left-radius: 5px;
        top-right-radius: 5px;
      }
      left: 5px;
      padding: {
        // left: 10px;
        // right: 10px;
        top: 10px;
        bottom: 10px;
      };
    }
    .dropdown {
      display: flex;
      flex-direction: row;
      font-family: 'comic-sans';
      align-items: center;
      padding: {
        // right: 10px;
        left: 10px;
      };

      .priceText {
        outline: none;
        background-color: white;
        border: none;
        border-radius: 5px;
        padding: {
          top: 5px;
          bottom: 5px;
          right: 5px;
          left: 5px;
        };
        margin: {
          right: 10px;
          // left: 10px;
        };
        font: {
          size: 18px;
          family: 'comic-sans';
        }
      }
      .submitPrice {
        background-color: pink;
        padding: {
          top: 8px;
          bottom: 8px;
          right: 8px;
          left: 8px;
        };
        margin: {
          right: 10px;
        };
        border: {
          radius: 5px;
          color: rgb(192, 192, 192);
          style: solid;
          width: 1px;
        }
        cursor: pointer;
      }

      .bedSelect, .bathSelect {
        cursor: pointer;
        background-color: white;
        border-radius: 5px;
        border: {
          style: solid;
          width: 1px;
          color: grey;
        };
        padding: {
          top: 10px;
          bottom: 10px;
          right: 20px;
          left: 20px;
        };
        margin: {
          right: 10px;
          // left: 10px;
        };
      }
      .selected {
        background-color: pink;
      }
    }
    .show {
      display: block;
    }
    .Price, .Beds, .Baths {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: $color;
      // border: none;
      height: 115%;
      z-index: 1;
      box-shadow: -1px 10px 20px 0px rgb(192, 192, 192);
      border-color: rgb(192, 192, 192);
      border-style: solid;
      border-width: 1px;
      border-bottom-style: none;
    }
  }
}