/********

File Upload/ Video Upload Fonts



*******/
.primary-font {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.select-video-button {
  color: #FF6EC7;
  border: 1px solid pink;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  background-color: deeppink
}
.upload-video-button {
  color:#FF6EC7;
  border: 1px solid pink;
  border-radius: 5px;
  background-color: deeppink;
}

.video-file-container {
  display: flex;
}

.video-file-container > div {
  padding: 10px;
}
.file-upload-widget-container {
  background-color: white;
  width:600px;
  border-radius: 10px;
}
.select-documents-container {
  display:flex;

}
.status-message {
  margin-left:auto;
  padding: 15px 32px;
  font-style: italic;
}
.select-documents-button {
    color: #FF6EC7;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
}
.preview-file-container > hr {
  border: 1px solid #FF6EC7;
}
.file-container {
  display: flex;
}

.file-container > div {
  padding: 10px;
}

.upload-cancel-container {
  display: flex;
  justify-content: flex-end;
}
.upload-cancel-container > div {
  color:#FF6EC7;
  padding: 10px;
}

/* For pdf
*/
.react-pdf__Page {
  /*margin-top: 10px; */
  position: relative;
 /* overflow: scroll; */
 /*
 width: 630px;
  height: 650px;
  background-color: white
  */

}
.react-pdf__Page__textContent {

  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;

}

.react-pdf__Page__annotations.annotationLayer {
  /*padding: 20px;*/
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  /*
  display: block;
  user-select: none;
  width: 612px;
  height: 792px;
  */
}

.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

.apartment-entry-container {
  display: flex;
}
.apartment-entry-container > div {
  padding: 10px;
}
.documents-container {
  display:flex;
  flex-direction: column;
}

/******* End of File Upload/ Video Upload Font ******/
